.htaccess

.DS_Store

uploads
tempfolder

wp-content/uploads
wp-content/uploads*
wp-content/w3tc
wp-content/cache
wp-content/backup*

apc.php
info.php

wp-config.php

/wp-config.php
wp-content/db-cluster-config.php

wp-content/themes/kcl/cache/*
